.container {
  background: #fff;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.large-container {
  padding-left: 7%;
}

@media (max-width: 1366px) {
  .container {
    padding-left: 19%;
    padding-right: 1%;
  }
}

.feed-container {
  flex: 1;
  padding-top: 3rem;
}

.search-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
  padding: 0 2rem;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #0f0f0f;
  margin: 5px 0;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #606060;
  margin: 6px 0;
}

.card p {
  font-size: 1.4rem;
}
