.tool-bar{
    display: flex;
    background-color: white;
    position: fixed;
    width: 83%;
    height: 5rem;
    top: 50px;
    z-index: 1000;
  }
  
  .tool-button {
    padding: 8px 12px;
    border-radius: 8px;
    flex-shrink: 0;
    background-color: transparent;
    border: none;
    font-size: 20px;  
    
  }
  
  .tool-button:hover {
    background-color:rgb(219, 214, 214);
  }
  
  .slider-container {
    display: flex;
    
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 8px;
  }
  
  .slider-container::-webkit-scrollbar {
    display: none;
  }
  
  .slider-content {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 100%;
  }
  
  .category-button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 500;
    
  }
  .category-button-home {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 500;
    
  }
  .category-button-home.active {
    background-color: black;
    color: white;
  }
  .category-button.active {
    color: black;
    background-color: #f1f1f1;
    
  }
  
  .category-button.active:hover {
    background-color:rgb(224, 221, 221);
  }
  